/*  your css code here. If applicable */
table{
border:1px solid #ccc;
	border-radius: 8px;
	padding:0.5rem;
	}
th, td  {
	border:1px solid #ccc;
	border-radius: 5px;
	padding:0.5rem;
	
.odd{
	background-color:#f2f2f2;
}
.even{
	background-color:#ffffff;
}
